# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Caches
.npm
.turbo
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env*
!.env.example

# Redis
*.rdb

# Build
dist