{
    "botOwner": "ID HERE",
    "log": {
        "loggingLevel": "info",
        "timeFormat": "D.M.YYYY. H:mm:ss.SSS",
        "locale": "de-DE"
    },
    "intervals": {
        "presence": 15,
        "dailyAutoRestart": {
            "enabled": false,
            "hour": 3,
            "minute": 0
        }
    },
    "spam": {
        "monitoringEnabled": false,
        "autoLeave": false,
        "messagesHourlyLimit": 40,
        "spamChannelsThreshold": 4,
        "cacheExpirationHours": 12
    }
}