{
    "log": {
        "loggingLevel": "log",
        "timeFormat": "D.M.YYYY. H:mm:ss.SSS",
        "locale": "de-DE"
    },
    "botOwner": "ID HERE",
    "presenceInterval": 30,
    "spamThreshold": 15,
    "serversBlacklist": [
        ""
    ]
}